header{
    text-align: center;
    margin-top: px;

}
h1{
    font: 300 96px 'Sriracha', cursive;

}

body{
    background: #ead7d7;
    font-family: 'Sriracha', cursive;
    color:#f5f5f5;
}

.inputfield{
    text-align: center;

}

input{
    border-radius: 5px;
    font: 30px 'Sriracha', cursive;;
    margin: 0;
    width: 500px;
    height: 60px;
}
/*список*/
.newlist{
    margin: 0 34% 0 34%;
    
}



/*футер*/
footer{
    text-align: center;
}

.flex-container{
    text-align: center;
    margin-top: 6px;
    color: #f5f5f5;
    text-align: center;
    
}


